.App {
  padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes flashing {
    0%   {
        filter: brightness(1);
    }
    50%  {
        filter: brightness(1.1);
    }
    100% {
        filter: brightness(1);
    }
  }

.game {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.game-codes {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.main {
  display: flex;
}

@media (max-width: 400px) {
  .main {
    flex-direction: column;
  }
}

.card-container {
  padding-left: 0;
}

.messaging-controls {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid black;
  border-radius: 5px;
}

.messaging-controls input {
  width: 100%;
}

.messaging-controls input[type="text"] {
  font-size: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  height: 86vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  width: 20vw;
  padding: 5px;
}

.send {
  width: 100%;
}

.color-reminder:nth-child(3) {
  width: 16%;
  margin: auto;
  font-weight: 600;
}

.color-reminder {
  display: flex;
  font-size: 20px;
  border-radius: 2px;
  padding: 2px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.color-reminder .turn-color {
  min-width: 65%;
  height: 33px;
  display: flex;
  justify-content: center;
}

.score {
  position: absolute;
  left: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 75px !important;
  border-radius: 5px;
}

.turn-time {
  width: 50px !important;;
}

.btn.end-turn {
  position: absolute;
  right: 0;
}

.game-controls {
  display: flex;
  justify-content: space-around;
}

.team-lists {
  display: flex;
  justify-content: center;
}

.team-list {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  border-radius: 2px;
  font-size: 18px;
}

.fa-user-secret {
  font-size: 18px;
}

.related-words > * {
  margin: 5px;
}

.hint-finder {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
}

.hint-finder > * {
  margin: 5px;
  font-size: 16px;
}

.emoji-dropdown-container {
  position: relative;
  display: flex;
  justify-content: flex-end;

  .label {
    cursor: pointer;
  }

  .emoji-dropdown {
    position: absolute;
    bottom: 30px;
  }
}
