.welcome {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome .title {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

.welcome form {
    text-align: center;
}

.form-check > *{
    margin: 5px;
}

.form-check input {
    margin: 2px;
}

.credits {
    text-align: right;
}

.prompt {
    font-size: 18px;
}