ul {
    height: 57%;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
}

.card-row {
    display: flex;
}

.card {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
    /* background: rgb(95, 95, 95); */
    /* color: white; */
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px rgb(200, 200, 200);
    border-radius: 5px;
    height: 19%;
    width: 19%;
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px;
    word-wrap: anywhere;
}
@media (max-width: 400px) {
    .card {
        letter-spacing: 0px;
        font-size: 10px;
    }
}

.card div {
    width: 100%;
    background: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderable::before, .borderable::after {
    position: absolute;
    content: "";
    border-radius: 5px;
}

.borderable::after {
    width: 0px;
    height: 100%;
    border-top: 3px solid rebeccapurple;
    border-bottom: 3px solid rebeccapurple;
    transition: width .3s;
} 

.borderable::before {
    width: 100%;
    height: 0px;
    border-left: 3px solid rebeccapurple;
    border-right: 3px solid rebeccapurple;
    transition: height .3s;
}

.borderable:hover::before {
    height: 100%;
    transition: height .3s;
}

.card:hover::after {
    width: 100%;
    transition: width .3s;
}

.borderable:hover {
    cursor: pointer;
    animation: flashing 1s ease-in-out infinite;
}

.fa-user-ninja {
    margin-left: 5px;
}